<%= render 'partials/create_post' %>
<div id="post-id">
  <% current_user.posts.each do |post| %>
    <%= render :template => "posts/index", locals: { :post => post } %>
  <% end %>
	<% current_user.friends.each do |friend| %>
  	<% friend.posts.each do |post| %>
    	<%= render :template => "posts/index", locals: { :post => post } %>
  	<% end %>
  <% end %>
  <% current_user.inverse_friends.each do |friend| %>
    <% friend.posts.each do |post| %>
      <%= render :template => "posts/index", locals: { :post => post } %>
    <% end %>
  <% end %>
</div>