<% @friendship = current_user.friendships.find_by(friend_id: user.id) %>
<% @friend_request = current_user.inverse_friendships.find_by(user_id: user.id) %>

<% if @friendship.blank? and @friend_request.blank? %>
  <p>
    <%= button_to 'Add Friend', friendships_path(friend_id: user.id), method: :post, class: "btn btn-primary"  %>
  </p>
<% elsif @friend_request.presence %>
  <% if @friend_request.status == nil %>
    <p>
      <%= button_to 'Accept Request', friendship_path(@friend_request.id, status: true), method: :put, class: "btn btn-alert"  %>
    </p>
    <p>
      <%= button_to 'Cancel Request', friendship_path(@friend_request.id, status: false), method: :put, class: "btn btn-danger"  %>
    </p>
  <% elsif @friend_request.status == true %>
    <%= button_to 'message', class: "btn btn-success" %>
  <% else %>
    <%= button_to 'Declined', class: "btn btn-success" %>
  <% end %>
<% elsif @friendship.presence %>
  <% if @friendship.status == false %>
    <p>
      <%= button_to 'Request Rejected', class: "btn btn-primary"  %>
    </p>
      <%= button_to 'Add Friend', friendships_path(friend_id: user.id), method: :post, class: "btn btn-primary"  %>
    <p>
    </p>
  <% elsif @friendship.status == nil %>
    <p>
      <%= button_to 'Request sent', friendship_path(@friendship.id), method: :delete  , class: "btn btn-danger"  %>
    </p>
  <% elsif @friendship.status == true or %>
    <p>
      <%= button_to 'message', class: "btn btn-success" %>
    </p>
  <% end %>
<% end %>