<% current_user.friends.each do |user| %>
  <% if user.id != current_user.id %>
    <div class="container">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-10">
                <img class="photo-profile" src="/assets/faces/face1.jpg" width="60" height="60" alt="...">
              
                <a href="#" class="anchor-username"><h4 class="media-heading"><%= user.first_name %></h4></a> 
              </div>
              <div class="col-md-2 ">
                <%= render partial: 'profiles/add_friend_button', locals: { user: user } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %> 
<% end %>
<% current_user.inverse_friends.each do |user| %>
  <% if user.id != current_user.id %>
    <div class="container">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-10">
                <img class="photo-profile" src="/assets/faces/face1.jpg" width="60" height="60" alt="...">
              
                <a href="#" class="anchor-username"><h4 class="media-heading"><%= user.first_name %></h4></a> 
              </div>
              <div class="col-md-2 ">
                <%= render partial: 'profiles/add_friend_button', locals: { user: user } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %> 
<% end %>