<%= form_with(model:[ post, post.comments.build ], remote: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="actions">
    <%= form.text_field :content, placeholder: "comment here......", class: "form-control col-sm-5", id: "ctext_field#{post.id}" %><br>
  </div>
<% end %>
