<p>
  <% if comment.id %>
    <strong><%= comment.commentor_name %> :</strong>
    <%= comment.content %><br>
    <a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a>
    <a href="# "><i class="glyphicon glyphicon-comment"></i> Reply</a>      
  <% end %>
</p>
