<div class="container">
  <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <section class="post-heading">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="media">
                              <div class="media-left">
                                <a href="#">
                                  <img class="media-object photo-profile" src="/assets/faces/face1.jpg" width="40" height="40" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <a href="#" class="anchor-username"><h4 class="media-heading"><%= current_user.first_name %></h4></a> 
                                <a href="#" class="anchor-time">51 mins</a>
                              </div>
                            </div>
                        </div>
                         <div class="col-md-1">
                             <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                         </div>
                    </div>             
                </section>
                <div class="panel panel-default">
                  <div id="collapse0" class="panel-collapse collapse">
                    <%= render "posts/form", locals: {post: @post} %>
                  </div>
                </div>
                <h4 class="panel-title">
                  <button data-toggle="collapse" href="#collapse0" class="btn btn-primary">Open Post Form</button>
                </h4>
            </div>
        </div>   
  </div>
</div>
