<div>  
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <a class="navbar-brand brand-logo" href="index.html">
        <img src="/assets/logo.svg" alt="logo" />
      </a>
      <a class="navbar-brand brand-logo-mini" href="index.html">
        <img src="/assets/logo-mini.svg" alt="logo" />
      </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <ul class="navbar-nav navbar-nav-left">
        <%= form_tag(search_user_profiles_path, method: :post) do %>
        <%= search_field_tag 'search', nil, style: "color: black" %>
        <% end %>
      </ul>

      
      <ul class="nav navbar-nav navbar-nav-right">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-bell"></i>
              <!-- <span class="count">4</span> -->
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown" id="notifications-id">
                <%if @notifications.presence %>
                  <% @notifications.each do |notification| %>
                    <%= render partial: 'notifications/notification', locals: {notification: notification}%>
                  <% end %>
                <% end %>
              </div>
            </a>
          </li>
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">Hello, <%= current_user.first_name %> !</span>
              <img class="img-xs rounded-circle" src="/assets/faces/face1.jpg" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item p-0">
                <div class="d-flex border-bottom">
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                  </div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                    <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                  </div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                  </div>
                </div>
              </a>
              <a class="dropdown-item mt-2">
                Manage Accounts
              </a>
              <a class="dropdown-item">
                Change Password
              </a>
              <a class="dropdown-item">
                Check Inbox
              </a>
              <a class="dropdown-item">
                <div class="form-group login-button">
                  <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
                </div>
              </a>
            </div>
          </li>
        <% else %>
          <% if params[:controller] == "registrations" %>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inline" id="sessions-form">    

                <div class="form-group">
                  <%= f.email_field :email, class: "form-control form-half", autocomplete: "email", placeholder: "Email" %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, class: "form-control form-half", autocomplete: "current-password", placeholder: "Password" %>
                </div>
                <div class="form-group login-button">
                  <%= f.submit "Log in", class: "btn btn-danger" -%>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="form-group login-button">
              <%= button_to "Sign Up", new_user_registration_path, method: :get, class: "btn btn-danger" %>
            </div>
          <% end %>
        <% end %>
      </ul>

      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
</div>
<div>
  <% if not current_user %>
    <%= yield %> 
  <% end %>
</div>


