<% @posts.each do |post| %>
  <div class="container">
    <div class="col-md-10 ">
          <div class="panel panel-default">
              <div class="panel-body">
                 <section class="post-heading">
                      <div class="row">
                          <div class="col-md-11">
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object photo-profile" src="/assets/faces/face1.jpg" width="40" height="40" alt="...">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <a href="#" class="anchor-username"><h4 class="media-heading"><%= current_user.first_name %></h4></a> 
                                  <a href="#" class="anchor-time">51 mins</a>
                                </div>
                              </div>
                          </div>
                           <div class="col-md-1">
                               <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                           </div>
                      </div>             
                 </section>
                 <section class="post-body">
                    
                 </section>
                 <section class="post-footer">
                     <hr>
                     <div class="post-footer-option container">
                          <ul class="list-unstyled">
                              <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
                              <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                              <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                          </ul>
                     </div>
                 </section>
              </div>
          </div>   
    </div>
  </div>
<% end %>