<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="/assets/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Richard V.Welsh</p>
            <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/profiles">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">All Users</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/profiles/current_user_friends">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Friends</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Friend Requests</span>
      </a>
    </li>
  </ul>
</nav>