<div class="dropdown-divider"></div>
<a class="dropdown-item preview-item">
  <div class="preview-thumbnail">
    <div class="preview-icon bg-success">
      <i class="mdi mdi-alert-circle-outline mx-0"></i>
    </div>
  </div>
  <div class="preview-item-content">
    <h6 class="preview-subject font-weight-medium text-dark">
      <% if current_user.friends.find_by(id: notification.recipient_id).presence %>
        <%= current_user.friends.find_by(id: notification.recipient_id).first_name %> 
      <% end %>
      <% if current_user.inverse_friends.find_by(id: notification.recipient_id).presence %>
        <%= current_user.inverse_friends.find_by(id: notification.recipient_id).first_name %> 
      <% end %>
      posted a new post
    </h6>
    <p class="font-weight-light small-text">
      Just now
    </p>
  </div>
</a>