<div class="container">
  <div class="row">
    <div class="col-md-9">
      <ul id="conversations-list">
        <% @conversations.each do |conversation| %>
          <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
        <% end %>
      </ul>
    </div>

    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">User list</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @users.each do |user| %>
              <li><%= link_to user.email, open_conversations_path(user_id: user), remote: true, authenticity_token: true %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>
</div>