<style type="text/css">
  body {
    background-image: url("/assets/auth/login_1.jpg"),;
  }
  .bdcolor {
    border-color: black
  }
</style>

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <div class="auto-form-wrapper">
             <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group bdcolor">
                <%= f.email_field :email, class: "form-control bdcolor", autocomplete: "email", placeholder: "Email" %>
              </div>

              <div class="form-group bdcolor">
                <%= f.password_field :password, class: "form-control bdcolor", autocomplete: "current-password", placeholder: "Password" %>
              </div>

              <div class="text-block text-center my-3">
                <%= f.submit "Login", class: "btn btn-success submit-btn btn-block" %>
              </div>

              <div class="form-group d-flex justify-content-between">
                <div class="form-check form-check-flat mt-0">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" checked> Keep me signed in
                  </label>
                </div>
                <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
              </div>
              <div class="text-block text-center my-3">
                <button class="btn btn-block btn btn-primary submit-btn btn-block">
                  <img class="mr-3" src="" alt="">Log in with Google</button>
              </div>
            <% end %>
            <ul class="auth-footer">
              <li>
                <a href="#">Conditions</a>
              </li>
              <li>
                <a href="#">Help</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
            </ul>
            <p class="footer-text text-center">copyright © 2018 Bootstrapdash. All rights reserved.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>



