<%= bootstrap_form_with(model: @post, remote: true, authenticity_token: true, class: "create_post") do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :content, class: "from-group", placeholder: "enter post caption...", label: "Caption"%>
    <div>
      <%= form.fields_for :pictures do |image_form| %>
        <%= image_form.file_field :avatar, label: "Upload Image"%>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Post', class: 'btn btn-primary', id: "create_post" %>
  </div>
<% end %>