<% if @like.blank? %>
  <li>
    <%= button_to 'Like', post_likes_path(post.id), method: :post, remote: true, class: "btn btn-primary" %>
  </li>
<% else %>
  <li>
    <%= button_to 'UnLike', post_like_path(post.id, @like), method: :delete,remote: true, class: "btn btn-success" %>  
  </li>
<% end %>