<div class="container">
  <div class="col-md-8 ">
      <div class="panel panel-default">
        <div class="panel-body">
          <section class="post-heading">
            <div class="row">
              <div class="col-md-11">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object photo-profile" src="/assets/faces/face1.jpg" width="40" height="40" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <a href="#" class="anchor-username"><h4 class="media-heading"><%= current_user.first_name %></h4></a> 
                    <a href="#" class="anchor-time">51 mins</a>
                  </div>
                </div>
              </div>
               <div class="col-md-1">
                   <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
               </div>
            </div>             
          </section>
          <section class="post-body">
            <%= post.content %>
            <%=image_tag(post.pictures.first.avatar.url) if post.pictures.present? %>
          </section>
          <section class="post-footer">
           <hr>
           <div class = "row" >
            <div class="post-footer-option container" >
           
              <ul class="list-unstyled">
                <div class="col-sm-4 ">
                  <% @like = @user_likes.where(likeable_id: post.id).find_by(user_id: current_user.id) %>
                  <p id="like_count<%= post.id %>">
                    <%= post.likes.count %> likes 
                  </p>           
                  <div class="like<%= post.id %>">
                    <%= render partial: "posts/like_unlike", locals: {like: @like, post: post} %>
                  </div>
                  
                </div>
                <div class="col-sm-4" >
                  <li><a data-toggle="collapse" href="#collapse<%= post.id %>" ><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                </div>
                <div class="col-sm-4">
                  <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                </div>
              </ul>
            </div>
           </div>
          </section>
          <div id="collapse<%= post.id %>" class="panel-collapse collapse">
            <%= render :partial => 'comments/form', locals: { :post => post }%>
            <div class="comments<%= post.id %>">
              <% post.comments.each do |comment| %> 
              <%= render :partial => 'comments/show_post_comments', locals: { :comment => comment } %>  
              <% end %>
            </div>          
          </div>
        </div>
      </div>   
  </div>
</div>
