<% if @post %>
<p id="notice"><%= notice %></p>
  <p>
    <strong>Content:</strong>
    <%= @post.content %>
    <%=image_tag(@post.avatar.url) %>
  </p>

  <h2>Comments</h2>
  <% @post.comments.each do |comment| %> 
    <p>
      <strong>Comment:</strong>
      <%= comment.content %>
      <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
    </p>
  <% end %>
   
  <h2>Add a comment:</h2>
  <%= form_with(model: [ @post, @post.comments.build ], local: true, method: :post ) do |form| %>
    <p>
      <%= form.label :content %><br>
      <%= form.text_area :content %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
<% else %>
  <a>Post id do not exist! <%= button_to "Posts", posts_path, method: :get, class: "btn btn-danger" %></a>
<% end %>
