/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require layout/materialdesignicons.css
 *= require layout/vendor.bundle.base.css
 *= require layout/vendor.bundle.addons.css
 *= require layout/style.css
*= require rails_bootstrap_forms

 *= require_self
 */


.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

ul {
  padding-left: 0px;
  list-style: none;
}


.notice {
  background-color: green;
  color: white;
  text-align: center;
  padding: 5px;
}

.alert {
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px
}

#wrapper {
  width: 1075px;
  margin: 0 auto;
}

#wrapper .container {
    max-width: 100%;
    display:block;
    }
    
.container {
  padding-left: 0;
  padding-right: 0;
}

.col-xs-12 {
  padding-left: 4px;
  padding-right: 4px;
}

.col-sm-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.col-sm-8 {
  padding-left: 4px;
  padding-right: 4px;
}