<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'layout/materialdesignicons', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'layout/vendor.bundle.base', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'layout/vendor.bundle.addons', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag    'layout/style', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="shortcut icon" href="/assets/favicon.png" />
</head>

<body>
  <!-- partial:partials/_navbar.html -->
  <%= render "partials/header" %>
  <!-- partial -->

  <% if current_user %>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <%= render "partials/sidebar" %>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <%= yield %>
        </div>
        <!-- partial:partials/_footer.html -->
        <%= render "partials/footer" %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  <% end %>      
   
  <!-- plugins:js -->
  <%= javascript_include_tag 'vendor.bundle.base', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'vendor.bundle.addons', 'data-turbolinks-track': 'reload' %>  

  <%= javascript_include_tag 'off-canvas', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'misc', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track': 'reload' %>

</body>

</html>
